@font-face {
    font-family: "Minecraft";
    font-style: normal;
    font-weight: 400;
	font-size: 1rem;
    src: url("https://cdn.jsdelivr.net/gh/nailujx86/Minecraft-Webfont-and-Colors@v1.0/font/minecraft_font.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/nailujx86/Minecraft-Webfont-and-Colors@v1.0/font/minecraft_font.eot") format("eot"),
        url("https://cdn.jsdelivr.net/gh/nailujx86/Minecraft-Webfont-and-Colors@v1.0/font/minecraft_font.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/nailujx86/Minecraft-Webfont-and-Colors@v1.0/font/minecraft_font.svg#Minecraft") format("svg");
}

.mc {
    font-family: Minecraft;
}

.mc-black {
    color: black;
}

.mc-dark_blue {
    color: #0000AA;
}

.mc-dark_green {
    color: #00AA00;
}

.mc-dark_aqua {
    color: #00AAAA;
}

.mc-dark_red {
    color: #AA0000;
}

.mc-dark_purple {
    color: #AA00AA;
}

.mc-gold {
    color: #FFAA00;
}

.mc-gray {
    color: #AAAAAA;
}

.mc-dark_gray {
    color: #555555;
}

.mc-blue {
    color: #5555FF;
}

.mc-green {
    color: #55FF55;
}

.mc-aqua {
    color: #55FFFF;
}

.mc-red {
    color: #FF5555;
}

.mc-light_purple {
    color: #FF55FF;
}

.mc-yellow {
    color: #FFFF55;
}

.mc-white {
    color: white;
}

.mc-bold {
    font-weight: bold;
}

.mc-italic {
    font-style: italic;
}

.mc-strikethrough, .mc-underlined {
    position: relative;
    display: inline-block;
}

.mc-strikethrough::before, .mc-underlined::after {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
}

.mc-strikethrough::before {
    border-bottom: 2px solid;
    border-bottom-color: inherit;
    top: 55%;
}

.mc-underlined::after {
    border-bottom: 2px solid;
    border-bottom-color: inherit;
    bottom: -8%;
}
